@keyframes leafOneLeft {
    0% {
        transform: rotate(50deg);
    }
    100% {
        transform: rotate(10deg);
    }
}
@keyframes leafOneRight {
    0% {
        transform: rotate(-50deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}
@keyframes leafTwoLeft {
    0% {
        transform: rotate(50deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}
@keyframes leafTwoRight {
    0% {
        transform: rotate(-50deg);
    }
    100% {
        transform: rotate(15deg);
    }
}
@keyframes leafThreeLeft {
    0% {
        transform: rotate(50deg);
    }
    100% {
        transform: rotate(-35deg);
    }
}
@keyframes leafThreeRight {
    0% {
        transform: rotate(-50deg);
    }
    100% {
        transform: rotate(35deg);
    }
}

@keyframes windOneLeft {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(7deg);
    }
    100% {
        transform: rotate(11deg);
    }
}

@keyframes windOneRight {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(-16deg);
    }
    100% {
        transform: rotate(-9deg);
    }
}

@keyframes windTwoLeft {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(-18deg);
    }
    100% {
        transform: rotate(-14deg);
    }
}

@keyframes windTwoRight {
    0% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(9deg);
    }
    100% {
        transform: rotate(16deg);
    }
}

@keyframes windThreeLeft {
    0% {
        transform: rotate(-35deg);
    }
    50% {
        transform: rotate(-38deg);
    }
    100% {
        transform: rotate(-34deg);
    }
}

@keyframes windThreeRight {
    0% {
        transform: rotate(35deg);
    }
    50% {
        transform: rotate(29deg);
    }
    100% {
        transform: rotate(36deg);
    }
}

.leafOneLeft {
    transform: rotate(50deg);
    transform-style: preserve-3d;
    animation-name: leafOneLeft, windOneLeft;
    animation-duration: 1s, 5s;
    animation-delay: 100ms, 1.1s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
}
.leafOneRight {
    transform: rotate(-50deg);
    transform-style: preserve-3d;
    animation-name: leafOneRight, windOneRight;
    animation-duration: 1s, 5s;
    animation-delay: 100ms, 1.1s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
}

.leafTwoLeft {
    transform: rotate(50deg);
    transform-style: preserve-3d;
    animation-name: leafTwoLeft, windTwoLeft;
    animation-duration: 1s, 5s;
    animation-delay: 100ms, 1.1s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
}
.leafTwoRight {
    transform: rotate(-50deg);
    transform-style: preserve-3d;
    animation-name: leafTwoRight, windTwoRight;
    animation-duration: 1s, 5s;
    animation-delay: 100ms, 1.1s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
}
.leafThreeLeft {
    transform: rotate(50deg);
    transform-style: preserve-3d;
    animation-name: leafThreeLeft, windThreeLeft;
    animation-duration: 1s, 5s;
    animation-delay: 100ms, 1.1s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
}
.leafThreeRight {
    transform: rotate(-50deg);
    transform-style: preserve-3d;
    animation-name: leafThreeRight, windThreeRight;
    animation-duration: 1s, 5s;
    animation-delay: 100ms, 1.1s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
}
